.image-style {
  width: 250px;
  height: auto;
}
.container-fluid {
  padding: 0;
}

.hw {
  font-family: 'Loved by the King', cursive;
}
nav {
  opacity: 0.8;
  background-color: darkblue;
}
body {
  background: lightcyan;
}
#hello {
  text-align: center;
  color: white;
  font-size: 10em;
  background-color: blue;
  font-family: 'Loved by the King', cursive;
}
#skills {
  color: white;
  text-align: center;
}
footer {
  font-size: 10px;
}
